@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Zarejestruj";
}

<h1>@ViewData["Title"]</h1>
<h3 id="external-login-title">Powiąż swoje konto @Model.ProviderDisplayName.</h3>
<hr />

<p id="external-login-description" class="text-info">
    Udana rejestracja z użyciem <strong>@Model.ProviderDisplayName</strong>.
    Proszę wprowadzić adres e-mail dla tej witryny poniżej i kliknąć przycisk Rejestracja, aby zakończyć proces logowania.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Wprowadź swój email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="email" placeholder="Dodaj swoje Imię." />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Zarejestruj</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
