@model List<Reservation>
@{
    ViewData["Title"] = "Potwierdzenie Rezerwacji";
    Layout = "_Layout";
}

<h2>Dziekujemy</h2>


<div class="row pt-2"> 
    <div class="col-6 col-md-3">
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-outline-primary border form-control">
            Wróć
        </a>
    </div>
</div>