@model List<CategoryWithMenuItemsVM>

<div class="container">
    @foreach (var categoryWithMenuItems in Model)
    {
        <div class="row my-4">
            <div class="col-12">
                <h2>@categoryWithMenuItems.MenuItemsList.FirstOrDefault()?.Category.Name</h2>
            </div>
        </div>

        <div class="row pb-3">
            @foreach (var menuItem in categoryWithMenuItems.MenuItemsList)
            {
                <div class="col-lg-6">
                    <div class="row p-2">
                        <div class="col-12 p-1">
                            <div class="card border-0 p-3 shadow border-top border-5 rounded">
                                <div class="row card-body pb-0">
                                    <div class="col-8 pl-1">
                                        <p class="card-title h5 text-dark opacity-75 text-uppercase">@menuItem.Name</p>
                                        <p class="card-text ">@menuItem.Description</p>
                                    </div>
                                    <div class="col-4 text-dark text-opacity-75 text-center">
                                        Cena:
                                        <span>
                                            @menuItem.Price?.ToString("c")
                                        </span>
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
