@model RestaurantPageProject.Models.Reservation

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Usuń Rezerwację </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3">
                <p>Czy na pewno chcesz usunąć tę rezerwację?</p>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control"> Usuń </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="ReservationAdmin" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Wróć
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
